<!DOCTYPE html>
<html>
  <head>
    <title>Intraday Time Series</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <th>Timestamp</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Volume</th>
      </tr>
      {% for timestamp, values in data["Time Series (1min)"].items() %}
      <tr>
        <td>{{ timestamp }}</td>
        <td>{{ values["1. open"] }}</td>
        <td>{{ values["2. high"] }}</td>
        <td>{{ values["3. low"] }}</td>
        <td>{{ values["4. close"] }}</td>
        <td>{{ values["5. volume"] }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
